@model CarClassified.Web.ViewModels.PosterVM

<div class="row">
    <div class="col-xs-12">
        <h3 class="text-center">Complete Posting</h3>
    </div>
</div>

    
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center"> Posting for :<em> @ViewBag.user.Email</em></p>
            
        </div>
       
    </div>


<form role="form">
    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">

                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName" class="form-control" value="@ViewBag.user.FirstName" />
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" id="lastName" class="form-control" value="@ViewBag.user.LastName" />
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label for="lastName">Phone:</label>
                <input type="text" name="lastName" id="lastName" class="form-control" value="@ViewBag.user.LastName" />
            </div>
        </div>
    </div>
      
    
    <div class="form-group">
        <label for="location">Your City/Town: </label>
        <input type="text" class="form-control" name="location" id="location" />
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">Vehicle Details</h3>
        </div>
    </div>
    @*body, color, engine, fuel*@
    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <label for="bodystyle">Body Style:</label>
                <select  name="bodystyle" id="bodystyle" class="form-control">
                    <option value="1">
                        Coupe
                    </option>
                    <option value="2">
                        Sedan
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label for="color">Color:</label>
                <select name="color" id="color" class="form-control">
                    <option value="1">
                        Red
                    </option>
                    <option value="2">
                        Black
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label for="cylinder">Engine Cylinders:</label>
                <select name="cylinder" id="cylinder" class="form-control">
                    <option value="1">
                        4
                    </option>
                    <option value="2">
                        6
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label for="fuelType">Fuel:</label>
                <select name="fuelType" id="fuelType" class="form-control">
                    <option value="1">
                        Gas
                    </option>
                    <option value="2">
                        Diesel
                    </option>
                </select>
            </div>
        </div>
    </div>

    @*make, model, transmission, condition*@
    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <label for="make">Make:</label>
                <select name="make" id="make" class="form-control">
                    <option value="1">
                        Audi
                    </option>
                    <option value="2">
                        BMW
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label for="model">Model:</label>
                <select name="model" id="model" class="form-control">
                    <option value="1">
                        A4
                    </option>
                    <option value="2">
                        A6
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label for="transmission">Transmission:</label>
                <select name="tranmission" id="transmission" class="form-control">
                    <option value="1">
                        Manual
                    </option>
                    <option value="2">
                        Auto-Manual
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label for="condition">Condition:</label>
                <select name="condition" id="condition" class="form-control">
                    <option value="1">
                        New
                    </option>
                    <option value="2">
                        Used
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
             add images next
        </div>
        <div class="form-group">
            <input type="submit" value="Post" class="btn btn-primary form-control" />
        </div>
        
    </div>


</form>


@*<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateId)
        </dd>
    </dl>*@
